# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_pass
POSTGRES_DB=inventory_db

# Backend Configuration
DATABASE_URL=postgresql://postgres:postgres_secure_pass@db:5432/inventory_db
PROJECT_NAME="StockFlow API"

# Frontend Configuration
VITE_API_URL=http://localhost:8000
